body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #00ff7f;
    color: #073090;
    text-align: center;
    padding: 1rem;
  }
  
  article {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  section {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  